.slider {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__image {
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.slider__prev {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slider__next {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s ease;
    transform: scale(0.92)
}

.slide.next {
    transform: translateX(100%);
}

.slide.previous {
    transform: translateX(-100%);
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1) translateX(0);
}


