* {
    position: relative;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#root {
    width: 100%;
    height: 100%;
    display: block;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.slick-slider .slick-next::before, .slick-slider .slick-prev::before {
    color: dimgray;
}
